
body{
    text-align: center;
    background-color: green;
    margin-right: 10em;
}

p {
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
    padding-top: 0.5em;
}

h1{
    color: palevioletred;
    font-style: italic;
    padding: 1em;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: auto auto;
}

.card {
    background-color: palevioletred;
    border: 0.5em solid whitesmoke;
    max-height: 12em; 
    max-width: 12em;   
}